body {
  background-color: black;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

/* Elrendezés */
.tarolo {
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
}

.sor {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.oszlop-bal, .oszlop-jobb {
  flex: 1 1 400px;
  text-align: center;
}

/* Szöveg */
h1 {
  text-decoration: underline;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

p {
  text-transform: none;
  font-size: 1.1rem;
  line-height: 1.5;
}

/* Táblázat */
.tabla {
  color: white;
  width: 100%;
  border: 2px solid white;
  text-align: center;
}

/* HREF */
a {
  color: #00bfff;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

a:hover {
  color: white;
  text-decoration: underline;
}


